In [ ]:
1.
A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

SQL databases are vertically scalable, while NoSQL databases are horizontally scalable. SQL databases are table-based, 
while NoSQL databases are document, key-value, graph, or wide-column stores. SQL databases are better for multi-row transactions, 
while NoSQL is better for unstructured data like documents or JSON.

In [ ]:
2.
Data Definition Language is a subset of SQL and a part of DBMS. DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP.

The CREATE TABLE command creates a new table in the database.
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);


The ALTER TABLE command adds, deletes, or modifies columns in a table and also adds and deletes various constraints in a table.
ALTER TABLE Customers
ADD Email varchar(255);


The DROP TABLE command deletes a table in the database.
DROP TABLE Shippers;


The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
TRUNCATE TABLE Categories;

In [ ]:
3.
DML is an abbreviation for Data Manipulation Language. Represents a collection of programming languages explicitly used to make changes to 
the database, such as: CRUD operations to create, read, update and delete data. Using INSERT, SELECT, UPDATE, and DELETE commands.

Insert statement is used to create and store new records in our database.
INSERT INTO tableName(column1,column2,column3……..) VALUES(value1,value2,value3……) ;

Data stored in a database needs to be changed and updated time and again to maintain the value data holds. 
The process is made easy by using the UPDATE statement.
UPDATE tableName SET column1 = value1, column2 = value2,... where condition;

DELETE is used to delete data from database.
DELETE FROM table_name WHERE condition;

In [ ]:
4.
The DQL statements can be used in order to query the data and information contained in schema objects.

A SELECT statement retrieves zero or more rows from one or more database tables or database views.
SELECT column1, column2, ...
FROM table_name;

In [ ]:
5.
A primary key is used to ensure data in the specific column is unique. 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

In [ ]:
6.
import mysql.connector  

myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "google", database = "mydb")  
     
print(myconn)   
 
cur = myconn.cursor()  
  
print(cur)

In [ ]:
This method executes the given database operation (query or command). execute() returns an iterator if multi is True .

In [ ]:
7.
1	FROM	Tables are joined to get the base data.
2	WHERE	The base data is filtered.
3	GROUP BY	The filtered base data is grouped.
4	HAVING	The grouped base data is filtered.
5	SELECT	The final data is returned.
6	ORDER BY	The final data is sorted.
7	LIMIT	The returned data is limited to row count.